@model IEnumerable<PerroAventurero.Models.Afiliacion>

@section Styles{
    <link rel="stylesheet" href="~/css/indexUser.css" />
}

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="w-container">
        <h1 class="main-heading">AVENTURAS CON DESCUENTO</h1>
        <div class="divider"></div>
        @*<div class="main-subtitle">&quot;PERRO AVENTURERO...compartiendo  una vida de aventuras con nuestros mejores amigos!&quot;</div>*@
    </div>
</div>
<hr />
<div class="m-0 row justify-content-md-center">
    <div class="form-row">
        <div class="form-group col-md-4">
            <table class="table-borderless">
                <tbody>
                    <tr>
                        <td>

                            @foreach (var item in Model)
                            {
                                <img src="https://pbs.twimg.com/media/ElRqfjRXIAAmvsy.jpg" alt="tbd" width="400" height="400" />
                                <hr />
                            }
                            @*@foreach (var img in @ViewBag.List)
                                {
                                    <img src="@Url.Content(img)" alt="tbd" width="300" height="300" />
                                    <hr />
                                }*@
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group col-md-3">
            <div class="m-0 row justify-content-md-right">
                @foreach (var item in Model)
                {
                    <div class="card border-light mb-3" style="width: 25rem; height:26rem;">


                        <div class="card-body text-dark text-center">

                            <p class="card-text paragraph">Cédula:  @Html.DisplayFor(modelItem => item.CedulaCliente)</p>
                            <p class="card-text paragraph">Precio total: 3500</p>
                            <p class="card-text paragraph">Fecha: 3 de mayo de 2021</p>

                            <hr />

                            <a href="#" class="button-afiliacion w-button">Aceptar</a>
                            <a href="#" class="button-afiliacion w-button">Rechazar</a>
                        </div>
                    </div>

                }
            </div>

        </div>
    </div>


</div>
   





    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ComprobantePago)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CedulaClienteNavigation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CedulaNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>

                            <a href="" target="_blank"><img src="@ViewBag.Image" width="250px" height="200px" alt="Alternate Text" /></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CedulaClienteNavigation.CedulaCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CedulaNavigation.Cedula)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Codigo">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Codigo">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Codigo">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
