@model PerroAventurero.Models.Evento
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Nombre
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.NombreEvento)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt class="col-sm-4">
            Dirección
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-4">
            Precio general
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.PrecioGeneral)
        </dd>
        <dt class="col-sm-4">
            Precio niño
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.PrecioNinno)
        </dd>
    </dl>
</div>

@*<div class="container py-1">
    <div class="row">
        <div class="row">
            <div class="col-3">
                <h5>Nombre</h5>
            </div>
            <div class="col-3">
                @Html.DisplayFor(model => model.NombreEvento)
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h5>@Html.DisplayNameFor(model => model.Lugar)</h5>
            </div>
            <div class="col-3">
                @Html.DisplayFor(model => model.Lugar)
                <br><br />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <h5>Dirección</h5>
            </div>
            <div class="col-3">
                @Html.DisplayFor(model => model.Direccion)
                <br />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <h5>@Html.DisplayNameFor(model => model.Fecha)</h5>
            </div>
            <div class="col-3">
                @Html.DisplayFor(model => model.Fecha)
                <br />
                <br />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <h5>Precio general</h5>
            </div>
            <div class="col-3">
                @Html.DisplayFor(model => model.PrecioGeneral)
                <br />
                <br />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <h5>Precio niño</h5>
            </div>
            <div class="col-3">
                @Html.DisplayFor(model => model.PrecioNinno)
                <br />
                <br />
            </div>
        </div>
    </div>
</div>*@

