@model PerroAventurero.Models.Reserva

@section Styles{
    <link rel="stylesheet" href="~/css/company.css" />
}

<div class="header-reserva">
    <div class="container">
        <h1 class="main-heading">Reserva</h1>
        <div class="divider"></div>
    </div>
</div>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <h4>Información del evento</h4>

            <div id="eventoP">


            </div>
        </div>
        <div class="col-6">
            <h4>Información de la reserva</h4>
            <hr width=100% style="color:lightgray">
            <dl class="row">
                <dt class="col-sm-4">
                    Cédula:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CedulaCliente)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EntradasGenerales)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.EntradasGenerales)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EntradasNinnos)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.EntradasNinnos)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Grupo)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Grupo)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.HoraEntrada)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.HoraEntrada)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PrecioTotal)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PrecioTotal)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <form asp-action="Edit" enctype="multipart/form-data" class="p-5">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                </div>


                <div class="form-control-file">
                    <input name="files" type="file" accept="image/png, image/jpeg" onchange="loadFile(event)" />
                    <img id="output" width="200" height="200" />
                    <script>
                        var loadFile = function (event) {
                            var output = document.getElementById('output');
                            output.src = URL.createObjectURL(event.target.files[0]);
                            output.onload = function () {
                                URL.revokeObjectURL(output.src) // free memory
                            }
                        };
                    </script>
                </div>
                <span asp-validation-for="ComprobantePago" class="text-danger"></span>

                <br />

                <div class="form-group">
                    <input type="submit" value="Enviar Comprobante" class="btn-lg btn-dark" />
                </div>

            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @Html.ValidationMessageFor(m => m.ComprobantePago)

    <script type="text/javascript">

        $.ajax({
            type: "POST",
            url: '/ComprobantePagoReserva/_Evento',
            success: function (partialView) {
                console.log("partialView: " + partialView);
                $('#eventoP').html(partialView)
            }

        });


    </script>
}
