@model PerroAventurero.Models.Reports

@section Styles{
    <link rel="stylesheet" href="~/css/company.css" />
}

<div class="header">
    <div class="container">
        <h1 class="main-heading">Reportes</h1>
        <div class="divider"></div>
        <script type="text/javaScript" src="~/js/reportsdatetime.js"></script>
    </div>
</div>

<form asp-action="RenderMenu">

    <div class="container justify-content-center p-5">
        <div class="row p-3">
            <h4>Reportes:</h4>
            <br />
            <div class="m-0 row justify-content-md-center">
                <select id="report" onchange="rangeDatetime()" name="selectReport" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Reports))">
                </select>
            </div>
        </div>

        <div class="row p-3">
            <div class="col-6">
                <div id="start" style="display : block">
                    <label for="start">Fecha de inicio:</label>

                    <input type="date" id="start" name="start"
                           min="2021-01-01">
                </div>

            </div>
            <div class="col-6">
                <div id="final" style="display : block">
                    <label for="start">Fecha de final:</label>

                    <input type="date" id="start" name="final"
                           min="2021-01-01">
                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="form-group">
                <input type="submit" value="Generar reporte" class="btn btn-dark" />
            </div>
        </div>
    </div>
</form>

<hr />

<div>
    <hr />

    @*reporte de comparacion entre asistentes y reservaciones por evento *@

    @*@foreach (var item in Model)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    Nombre
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.NombreEvento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.reservas)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.reservas)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => item.asistencia)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.asistencia)
                </dd>
            </dl>
        }*@

    @*reporte de comparacion entre asistentes y reservaciones de todos los eventos *@
    @*<dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.reservas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.reservas)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.asistencia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.asistencia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.percentage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.percentage)
            </dd>
        </dl>*@


    @* Reportes de comparacion de asistencia y reservaciones de niños *@
    @*<dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.reservas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.reservas)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.asistencia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.asistencia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.porcentaje)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.porcentaje)
            </dd>
        </dl>*@


    @*//Report Users attending the most events
        //Cédula de usuario (se debe agrupar por este dato).
        //Nombre de usuario.
        //Número de teléfono del usuario.
        //Cantidad de eventos asistidos: realizar una cuenta de los eventos a los que ha asistido el usuario (se debe ordenar por este dato).*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}

