@model PerroAventurero.Models.Reports
@section Styles{
    <link rel="stylesheet" href="~/css/company.css" />
}

@{
    ViewData["Title"] = "Create";
}

<div class="header">
    <div class="container">
        <h1 class="main-heading">Reportes</h1>
        <div class="divider"></div>
        <script type="text/javaScript" src="~/js/reportsdatetime.js"></script>
    </div>
</div>


<form asp-action="RenderMenu">

    <div class="container justify-content-center p-5">
        <h4>Reportes:</h4>
        <div class="m-0 row justify-content-md-center">
            <select id="report" onchange="rangeDatetime()" name="selectReport" class="form-control"
                    asp-items="@(new SelectList(ViewBag.Reports))">
            </select>
        </div>



        <div class="row">
            <div class="col-6">
                <div id="start" style="display : block">
                    <label for="start">Fecha de inicio:</label>

                    <input type="date" id="start" name="start"
                           min="2021-01-01">
                </div>
            </div>
            <div class="col-6">

                <div id="final" style="display : block">
                    <label for="start">Fecha de final:</label>

                    <input type="date" id="start" name="final"
                           min="2021-01-01">
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Generar reporte" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="container justify-content-center p-5">

    @* Reportes de comparacion de asistencia y reservaciones de niños *@
    <h1 id="reportName">Comparación de asistencia y reservaciones de niños</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.reservas)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.asistencia)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.porcentaje)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.reservas)</td>
                <td>@Html.DisplayFor(model => model.asistencia)</td>
                <td>@Html.DisplayFor(model => model.porcentaje)</td>
            </tr>
        </tbody>
    </table>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}