@model IEnumerable<PerroAventurero.Models.Reports>

@section Styles{
    <link rel="stylesheet" href="~/css/company.css" />
}

@{
    ViewData["Title"] = "Create";
}

<div class="header-reporte">
    <div class="container">
        <h1 class="main-heading">Reportes</h1>
        <div class="divider"></div>
        <script type="text/javaScript" src="~/js/reportsdatetime.js"></script>
    </div>
</div>


<form asp-action="RenderMenu">

    <div class="container justify-content-center p-5">
        <div class="row p-3">
            <h4>Reportes:</h4>
            <br />
            <div class="m-0 row justify-content-md-center">
                <select id="report" onchange="rangeDatetime()" name="selectReport" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Reports))">
                </select>
            </div>
        </div>

        <div class="row p-3">
            <div class="col-6">
                <div id="start" style="display : block">
                    <label for="start">Fecha de inicio:</label>

                    <input type="date" id="start" name="start"/>
                </div>

            </div>
            <div class="col-6">
                <div id="final" style="display : block">
                    <label for="start">Fecha de final:</label>

                    <input type="date" id="start" name="final"/>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="form-group">
                <input type="submit" value="Generar reporte" class="btn btn-dark" />
            </div>
        </div>
    </div>
</form>

@*reporte de comparacion entre asistentes y reservaciones por evento *@
<div class="container justify-content-center px-5 pb-5">
    <h4 id="reportName">Comparación entre asistencia y reservaciones por evento</h4>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre Evento</th>
                <th scope="col">Fecha Evento</th>
                <th scope="col">Reservas</th>
                <th scope="col">Asistencias</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NombreEvento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha_Evento)</td>
                    <td>@Html.DisplayFor(modelItem => item.reservas)</td>
                    <td>@Html.DisplayFor(modelItem => item.asistencia)</td>

                </tr>
            }
        </tbody>
    </table>

</div>







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}
