@model IEnumerable<PerroAventurero.Models.Reports>


@{
}

<div>
    <h4>Reportes</h4>
    <script type="text/javaScript" src="~/js/reportsdatetime.js"></script>

</div>

<hr />

<form asp-action="RenderMenu">

    <div class="m-0 row justify-content-md-center">
        <select id="report" name="selectReport" class="form-control"
                asp-items="@(new SelectList(ViewBag.Reports))">
        </select>
    </div>


    <div id="start" style="display : none">
        <label for="start">Fecha de inicio:</label>

        <input type="date" id="start" name="start"
               min="2021-01-01">
    </div>


    <div id="final" style="display : none">
        <label for="start">Fecha de final:</label>

        <input type="date" id="start" name="final"
               min="2021-01-01">
    </div>


    <div class="form-group">
        <input type="submit" value="Generar reporte" class="btn btn-primary" />
    </div>

</form>

<hr />

<div>
    <hr />



    @*reporte top de usuarios que mas asisten *@

    @foreach (var item in Model)
    {
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(modelItem => item.cedulacliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(modelItem => item.cedulacliente)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(modelItem => item.NombreCliente)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(modelItem => item.NombreCliente)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(modelItem => item.telefono)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(modelItem => item.telefono)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(modelItem => item.AttendanceEvent)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(modelItem => item.AttendanceEvent)
    </dd>
</dl>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}

@*//Report Users attending the most events
    //Cédula de usuario (se debe agrupar por este dato).
    //Nombre de usuario.
    //Número de teléfono del usuario.
    //Cantidad de eventos asistidos: realizar una cuenta de los eventos a los que ha asistido el usuario (se debe ordenar por este dato).*@