@model IEnumerable<PerroAventurero.Models.Reports>

@section Styles{
    <link rel="stylesheet" href="~/css/company.css" />
}

<div class="header-reporte">
    <div class="container">
        <h1 class="main-heading">Reportes</h1>
        <div class="divider"></div>
        <script type="text/javaScript" src="~/js/reportsdatetime.js"></script>
    </div>
</div>

<form asp-action="RenderMenu">
    <div class="container justify-content-center p-5">
        <div class="row p-3">
            <h4>Reportes:</h4>
            <br />
            <div class="m-0 row justify-content-md-center">
                <select id="report" onchange="rangeDatetime()" name="selectReport" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Reports))">
                </select>
            </div>
        </div>

        <div class="row p-3">
            <div class="col-6">
                <div id="start" style="display : block">
                    <label for="start">Fecha de inicio:</label>

                    <input type="date" id="start" name="start"/>
                </div>

            </div>
            <div class="col-6">
                <div id="final" style="display : block">
                    <label for="start">Fecha de final:</label>

                    <input type="date" id="start" name="final"/>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <div class="form-group">
                <input type="submit" value="Generar reporte" class="btn btn-dark" />
            </div>
        </div>
    </div>
</form>

<div class="container justify-content-center px-5 pb-5">

    @*reporte top de usuarios que mas asisten *@
    <h4 id="reportName">Usuarios que han asistido a más eventos</h4>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Eventos Asistidos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.cedulacliente)</td>
                    <td>@Html.DisplayFor(modelItem => item.NombreCliente)</td>
                    <td>@Html.DisplayFor(modelItem => item.telefono)</td>
                    <td>@Html.DisplayFor(modelItem => item.AttendanceEvent)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}

@*//Report Users attending the most events
    //Cédula de usuario (se debe agrupar por este dato).
    //Nombre de usuario.
    //Número de teléfono del usuario.
    //Cantidad de eventos asistidos: realizar una cuenta de los eventos a los que ha asistido el usuario (se debe ordenar por este dato).*@