@model PerroAventurero.Models.EmpresasAfiliada

@section Styles{
    <link rel="stylesheet" href="~/css/indexUser.css" />
}

@{
    ViewData["Title"] = "Details";
}


<div class="m-0 row justify-content-md-center">
    <div class="card border-dark mb-5" style="width: 25rem;">
        <div class="card-header text-center">Detalles de empresa</div>
        <img class="card-img-top" src="@ViewBag.Image" alt="Logo" />
        <div class="card-body text-dark text-center">
            <h5 class="card-title">@Html.DisplayFor(model => model.NombreEmpresa)</h5>
            <p class="card-text">Correo: @Html.DisplayFor(model => model.Correo)</p>
            <p class="card-text">Categoria: @Html.DisplayFor(model => model.Categoria)</p>
            <p class="card-text">Teléfono: @Html.DisplayFor(model => model.Telefono)</p>
            <hr />
            <a class="button-afiliacion w-button" asp-action="Edit" asp-route-id="@Model.CodigoEmpresa">Modificar</a> 
            <a class="button-afiliacion w-button" asp-action="Index">Volver</a>
        </div>
    </div>
</div>

