@model IEnumerable<PerroAventurero.Models.EmpresasAfiliada>

@section Styles{
    <link rel="stylesheet" href="~/css/company.css" />
}

@{ ViewData["Title"] = "Empresas"; }



<div class="header">
    <div class="container">
        <h1 class="main-heading">Empresas Afiliadas</h1>
        <div class="divider"></div>
        
    </div>
</div>

<div class="section-event container">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>Lista de empresas:</h1>
            </div>
            <div class="col-2 justify-content-right">
                <a asp-action="Create"><h5>+Nueva Empresa</h5></a>
            </div>
        </div>
    </div>
    <div class="container p-2">
        @using (Html.BeginForm())
        {
            <p>
                Buscar Empresa: @Html.TextBox("SearchString")
                <input type="submit" class="btn btn-dark" value="Buscar" />
            </p>
        }
    </div>  
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="empresa-section col-sm-3">
                <div class="container justify-content-center">
                    <h4 class="name"><a class="nameLink" asp-action="Edit" asp-route-id="@item.CodigoEmpresa">@Html.DisplayFor(modelItem => item.NombreEmpresa)</a></h4>
                    <img class="imgLogo" width="200" height="200" src="@Url.Action("getImage", "EmpresasAfiliadas", new { id = item.CodigoEmpresa })" />
                    @*<div class="row justify-content-center">
                            <div class="col-6 justify-content-center">
                                <a class="button-empresa" >Detalles</a>
                            </div>

                            <div class="col-6 justify-content-center">
                                <form asp-action="Delete" asp-route-id="@item.CodigoEmpresa" method="post">
                                    <input class="button-empresa" type="submit" onclick="return confirm('¿Está seguro que desea eliminar la empresa:  @item.NombreEmpresa')" value="Eliminar" />
                                </form>
                            </div>
                        </div>*@
                </div>
            </div>
        }
    </div>
</div>


<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }



    .button4 {
        border-radius: 12px;
    }
</style>
<div>

    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">


                    <div class="modal fade" tabindex="-1" id="modalDelete"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">¿Está seguro que desea eliminar la empresa seleccionada?</h5>
                                    @*<button type="button" class="close" data-dismiss="modal">
                                            ×
                                        </button>*@

                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <form asp-action="Delete">

                                       
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                    <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#modalDelete").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#modalDelete").modal('hide');
        });
    });
</script>

@*<button id="btnShowModal" type="button"
            class="btn btn-sm btn-default pull-left col-lg-11 button button4">
        Eliminar
    </button>*@