@model PerroAventurero.Models.Reserva

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradasGenerales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradasGenerales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntradasNinnos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntradasNinnos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsAceptada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsAceptada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprobantePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprobantePago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asistencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaClienteNavigation.CedulaCliente)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaNavigation.Cedula)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoEventoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoEventoNavigation.Cedula)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodigoReserva" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
