@model IEnumerable<PerroAventurero.Models.Reserva>

@section Styles{
    <link rel="stylesheet" href="~/css/indexUser.css" />
}

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <div class="w-container">
        <h1 class="main-heading">Reservaciones</h1>
        <div class="divider"></div>
        
    </div>
</div>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<div id="eventos" class="section">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {

                <div class="col-3" style="padding: 10px; margin-bottom:10px;">
                    <div class="project-wrapper">
                        <a class="project-wrapper inline-block">
                            @if (item.ComprobantePago == null)
                            {
                                <img src="~/images/3.png" width="211" height="211" alt="">
                            }
                            else
                            {
                                <img src="@Url.Action("getImage", "Reservas", new { id = item.CodigoReserva })" width="200" height="300" alt="">
                            }
                            <div class="form-group">

                                <p class="paragraph">Cédula: @Html.DisplayFor(modelItem => item.CedulaCliente)<br /><br />Precio total: @Html.DisplayFor(modelItem => item.PrecioTotal)</p>
                            </div>
                        </a>
                        <div class="row">
                            <div class="col-7">
                                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                                
                                <a nohref asp-action="Accept" asp-route-id="@item.CodigoReserva" class="btn btn-dark" onClick="alert('Reserva aceptada')">Aceptar</a>
                            </div>
                            <div class="col-4">
                                <a nohref asp-action="Reject" asp-route-id="@item.CodigoReserva" class="btn btn-dark" onClick="alert('Reserva rechazada')">Rechazar</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
    </div>
        

