@model IEnumerable<PerroAventurero.Models.Reserva>

@{
    ViewData["Title"] = "ReservasEventos";
}


<div class="container justify-content-center p-5">
    <h2 id="reportName">Reservaciones al evento</h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cédula</th>
                <th scope="col">Entradas generales</th>
                <th scope="col">Entradas niños</th>
                <th scope="col">Grupo</th>
                <th scope="col">Precio total</th>
                <th scope="col">Aceptada</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CedulaCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.EntradasGenerales)</td>
                <td>@Html.DisplayFor(modelItem => item.EntradasNinnos)</td>
                <td>@Html.DisplayFor(modelItem => item.Grupo)</td>
                <td>@Html.DisplayFor(modelItem => item.PrecioTotal)</td>
                @if (item.EsAceptada == true)
                {
                    <td>Sí</td>
                }
                else
                {
                    <td>No</td>

                }

               

            </tr>
            }
        </tbody>
    </table>

</div>


